.tarjetaPersonajes {
  display: flex;
  border: solid 0.125em rgb(0, 92, 20);
  background-color: rgb(0, 51, 11);
  width: 15em;
  height: 19em;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 0.625em auto;
  border-radius: 0.625em;
  box-shadow: 0.2em 0.2em 1em rgb(56, 56, 56);
  color: white;
}
.tarjetaPersonajes h1 {
  color: white;
}
.tarjetaPersonajes p {
  width: 100%;
}
.imgCardPersonajes {
  height: 12em;
  width: 10em;
  object-fit: cover;
  border-radius: 0.625em;
}
.titleCardPersonajes {
  font-size: 1.3em;
  width: 100%;
}
.tarjetaPersonajes:hover {
  box-shadow: 0.2em 0.2em 1em rgb(0, 177, 38);
  cursor: pointer;
}
