.tarjeta {
  display: flex;
  border: solid 0.125em rgb(0, 92, 20);
  background-color: rgb(0, 51, 11);
  width: 15em;
  height: 17em;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 0.625em auto;
  border-radius: 0.625em;
  box-shadow: 0.2em 0.2em 1em rgb(56, 56, 56);
  color: white;
}
.tarjeta h1 {
  color: white;
}
.imgCard {
  height: 9em;
  width: 15em;
  border-radius: 0.625em;
}
.titleCard {
  font-size: 1.3em;
  width: 100%;
}
.tarjeta:hover {
  box-shadow: 0.2em 0.2em 1em rgb(0, 177, 38);
  cursor: pointer;
}
